[submodule "pedant-solver"]
	path = pedant-solver
	url = git@github.com:fslivovsky/pedant-solver.git
[submodule "popsatgcpbcp"]
	path = popsatgcpbcp
	url = git@github.com:s6dafabe/popsatgcpbcp.git
[submodule "abc"]
	path = abc
	url = git@github.com:ArthurNieh/abc.git
[submodule "DQBDD"]
	path = DQBDD
	url = https://github.com/Enfest/DQBDD.git
[submodule "DSSATpre"]
	path = DSSATpre
	url = git@github.com:ArthurNieh/DSSATpre.git
[submodule "SharpSSAT"]
	path = SharpSSAT
	url = git@github.com:ArthurNieh/SharpSSAT.git
